@import "style";
ul#links {
  li {
    background: cornflowerblue;
    ul {
      background: cornflowerblue;
    }
    li:hover {
      background: darken(#aaaaee, 10%);
    }
    a {
      color: white;
    }

    &.separator {
      color: white;

      &::before, &::after {
        border-bottom: 1px solid white;
      }
    }
  }
}
