@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
};

$linkswidth: 10vw;
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}
h1 {
  font-size: 3em;
}

form input {
  margin: 1em 0;
  border: none;
  &:focus { outline: none; }
  width: 40vw;
  height: 10vh;
  font-size: 2em;
  text-align: center;
}
ul#links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  justify-content: center;

  > li {
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    margin: 0 2em 2em;
    height: 5em;
    width: 5em;

    img {
      width: 10vw;
      height: 3em;
      width: 3em;
      padding: 1em;
    }
    > a:focus + ul, >a:active + ul {
      display: block;
    }
  }
  li {
    list-style: none;
    position: relative;

    &:hover {
      border-bottom-left-radius: 0px;
      ul {
        display: block;
      }
    }
    ul {
      width: 20vw;
      overflow-y: auto;
      position: absolute;
      display: none;
      padding-inline-start: 0;
      z-index: 1;
      top: 5em;
      text-align: left;
      max-height: 30vh;

      a {
        display: block;
        padding-left: 1em;
        text-decoration: none;
        line-height: 35px;
        font-size: 80%;
      }
    }

  }

}
